:root {
    --body: #3F3F3F;
    --textcolor: white;
    --buttoncolor: #262626;
    --buttontext: white;
    --mainblobwithlist: #171717;
    --mainblobwithlisttext: white;
    --header: #1c4a80;
    --messenger: #1c4a80;
    --footer: #1c4a80;
    --bio: #222222;
    --post: #262626;
    --posttext: white;
    --link: white;
    --visted: white;
    --hover: white;
    --active: white;
    --footertext: #e5e5e5;
    --comtent: #171717;
    --comenttext: white;
    --spinner1: #1c4a80;
    --spinner2: #1c4a80;
    --spinner3: #1c4a80;
    --hrcolor: #1c4a80;
    --onlitext: #ffffff;
    --button2: #172d47;
    --navbutton: #1f3b5e;
    --maxmarg: auto;
    --marginlefts: 15px;
    --marginrights: 15px;
}